---
title: Awards and Recognitions
layout: page
permalink: /awards.html
---

<div class="container my-4">
    <p class="lead">A curated list of accolades and honors received by the films within the Sinematik archive, celebrating excellence in Philippine Cinema.</p>

    {% include feature/nav-menu.html sections="FAMAS AWARDS;LUNA AWARDS;GAWAD URIAN" %}

    <hr>

    <h2 id="famas-awards">FAMAS AWARDS</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Barcelona: A Love Untold</h4>
            <ul>
                <li><strong>Best Picture</strong></li>
                <li><strong>Best Director</strong> - Olivia Lamasan</li>
                <li><strong>Best Actor</strong> - Daniel Padilla</li>
                <li><strong>Best Production Design</strong> - Shari Marie Montiague</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Isa Pa with Feelings</h4>
            <ul>
                <li><strong>Best Supporting Actor</strong> - Carlo Aquino</li>
            </ul>
        </div>
    </div>

    <hr>

    <h2 id="luna-awards">LUNA AWARDS</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>One More Chance</h4>
            <ul>
                <li><strong>Best Actor</strong> - John Lloyd Cruz</li>
            </ul>
        </div>
    </div>

    <hr>

    <h2 id="gawad-urian">GAWAD URIAN</h2>
    <p><em>Content coming soon...</em></p>

</div>
